</aside>
<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Products">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist>
            </form>
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                    class="material-icons md-apps"></i> </button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon" href="#">
                        <i class="material-icons md-notifications animation-shake"></i>
                        <span class="badge rounded-pill">3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage"
                        aria-expanded="false"><i class="material-icons md-public"></i></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                        <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png"
                                alt="English">English</a>
                        <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png"
                                alt="Français">Français</a>
                        <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png"
                                alt="Français">日本語</a>
                        <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png"
                                alt="Français">中国人</a>
                    </div>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                        aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg"
                            alt="User"></a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                        <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                            Profile</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                        <a class="dropdown-item" href="#"><i
                                class="material-icons md-account_balance_wallet"></i>Wallet</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                        <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#"><i
                                class="material-icons md-exit_to_app"></i>Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="content-main">
        <form method="post" enctype="multipart/form-data" action="/v1/admin/products/add-product" id="my-form"
            onsubmit="return validateProduct(event)">

            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                            <button type="submit" class="btn btn-md rounded font-sm hover-up">Add Product</button>
                            <span id="error" style="color: red;"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="product_name" class="form-label">Product Name</label>
                                <input type="text" placeholder="Type here" name="name" class="form-control"
                                    id="product_name">
                                <span id="name-error" style="color: red;" hidden>Invalid Product Name</span>
                            </div>
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea placeholder="Type here" class="form-control" name="description"
                                    id="description" rows="4"></textarea>
                                <span id="description-error" style="color: red;" hidden>Minimum 15 words Required</span>

                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Price</label>
                                        <div class="row gx-2">
                                            <input placeholder="Rs" type="text" name="price" class="form-control"
                                                id="price">
                                            <span id="price-error" style="color: red;" hidden>Invalid Price</span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Brand</label>
                                        <input type="text" name="brand" id="brand" class="form-control">
                                        <span id="brand-error" style="color: red;" hidden>Value Needed</span>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-label">Gender</label>
                                    <select class="form-select" name="gender" id="gender">
                                        <option value="male"> Male </option>
                                        <option value="female"> Female </option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Quantity</label>
                                        <div class="row gx-2">
                                            <input type="text" name="quantity" id="quantity" class="form-control">
                                        </div>
                                        <span id="quantity-error" style="color: red;" hidden>Value Needed</span>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Size</label>
                                        <div class="row gx-2">
                                            <input type="text" name="size" id="size" class="form-control">
                                        </div>
                                        <span id="size-error" style="color: red;" hidden>Value Needed</span>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Color</label>
                                        <div class="row gx-2">
                                            <input type="text" name="color" id="color" class="form-control">
                                        </div>
                                        <span id="category-error" style="color: red;" hidden>Value Needed</span>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-4">
                                    <label for="category" class="form-label">Category :</label>
                                    
                                    <select name="category" id="category">

                                    </select>
                                    <span id="category-err" hidden></span>
                                </div>

                                <div class="mb-4">
                                    <label for="subCategory" class="form-label">Sub-Category :</label>
                                    
                                    <select name="subCategory" id="sub-category">

                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="categoryType" class="form-label"> Category-type :</label>
                                                                    
                                    <select name="categoryType" id="category-type">
                                        <option value="">------</option>
                                    </select>
                                    <span id="category-type-error" style="color: red;" hidden>Value Needed</span>

                                </div>
                                <div class="col-lg-3">
                                    <label class="form-label">Active</label>
                                    <select class="form-select" name="active" id="active">
                                        <option value="true"> Yes </option>
                                        <option value="false"> No </option>
                                        <!-- <option> RUBL </option> -->
                                    </select>
                                </div>
                            </div>



                            <!-- <div class="mb-4">
                                    <label class="form-label">Tax rate</label>
                                    <input type="text" placeholder="%" class="form-control" id="product_name">
                                </div> -->
                            <!-- <label class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label"> Make a template </span>
                                </label> -->
                        </div>
                        <!-- </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Shipping</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Width</label>
                                            <input type="text" placeholder="inch" class="form-control" id="product_name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-4">
                                            <label for="product_name" class="form-label">Height</label>
                                            <input type="text" placeholder="inch" class="form-control" id="product_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Weight</label>
                                    <input type="text" placeholder="gam" class="form-control" id="product_name">
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Shipping fees</label>
                                    <input type="text" placeholder="$" class="form-control" id="product_name">
                                </div>
                            </form>
                        </div>
                    </div>  -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <img src="assets/imgs/theme/upload.svg" alt="">
                                <input class="form-control" type="file" name="image" id="image1">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <img src="assets/imgs/theme/upload.svg" alt="">
                                <input class="form-control" type="file" name="image" id="image2">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <img src="assets/imgs/theme/upload.svg" alt="">
                                <input class="form-control" type="file" name="image" id="image3">
                            </div>
                        </div>
                        <span id="image-error1" style="color: red;padding-left: 12px;" hidden>Three Images
                            Required!</span>
                        <span id="image-error2" style="color: red;padding-left: 12px;" hidden>Images must be of format
                            ".jpg", ".jpeg" or ".png" or ".svg" or ".webp"</span>

                    </div>

                </div>
        </form>

    </section> <!-- content-main end// -->