<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="ms-5 mt-2">
            <a class="navbar-brand" href="/"><img style="height: 50px;" src="/img/logo/punch_logo.png" alt=""></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse m-2" id="navbarSupportedContent">
            
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item mx-5">
                      <a class="nav-link" href="/v1/users/shop?page=Men" style="font-family: 'Times New Roman', Times, serif;" >Men</a>
                    </li>
            
                    <li class="nav-item mx-">
                      <a class="nav-link" href="/v1/users/shop?page=Women" style="font-family: 'Times New Roman', Times, serif;" >Women</a>
                    </li> -->
                  </ul>
            
            <ul class="navbar-nav me-3" >
                <li class="nav-item " data-bs-toggle="modal" onclick="login()"  data-bs-target="#staticBackdrop">
                    <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <svg style="height: 1rem;width:1rem;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                    </a>
                </li>
            </ul>
        </div> 
    </div>
</nav>




