<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Punch - The store you didn't think you needed!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/cd8b1d0510.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/user-assets/css/main.css">
    <script src="/user-assets/js/vendor/jquery-3.6.0.min.js"></script>

</head>
<body>
    
    <%if(userStatus){%>
    <%-include('partials/user-header')%>
    <%}else{%>
        <%-include('partials/page-header')%>
        <%-include('partials/modal')%>
    <%}%>    
    <%-body%>
    
    <script>
        async function commonAjax(url,method,headers,body){
            const options = {
                headers: headers,
                method: method,
            }
            if(body) options.body = JSON.stringify(body)
            return await fetch(url,options)
                .then(res=>res.json())
                .then(res=>{
                    if(res.ok) return Promise.resolve(res)
                    return Promise.reject(res)}
                    )
        }
    </script>
    <script src="/user-assets/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="/user-assets/js/plugins/slick.js"></script>
        <script src="/user-assets/js/plugins/jquery.syotimer.min.js"></script>
        <script src="/user-assets/js/plugins/wow.js"></script>
        <script src="/user-assets/js/plugins/jquery-ui.js"></script>
        <script src="/user-assets/js/plugins/perfect-scrollbar.js"></script>
        <script src="/user-assets/js/plugins/magnific-popup.js"></script>
        <script src="/user-assets/js/plugins/select2.min.js"></script>
        <script src="/user-assets/js/plugins/waypoints.js"></script>
        <script src="/user-assets/js/plugins/counterup.js"></script>
        <script src="/user-assets/js/plugins/jquery.countdown.min.js"></script>
        <script src="/user-assets/js/plugins/images-loaded.js"></script>
        <script src="/user-assets/js/plugins/isotope.js"></script>
        <script src="/user-assets/js/plugins/scrollup.js"></script>
        <script src="/user-assets/js/plugins/jquery.vticker-min.js"></script>
        <script src="/user-assets/js/plugins/jquery.theia.sticky.js"></script>
        <script src="/user-assets/js/plugins/jquery.elevatezoom.js"></script>
        <!-- Template  JS -->
        <script src="/user-assets/js/main.js"></script>
        <script src="/user-assets/js/shop.js"></script>
</body>
</html>