<div>
    <div class="d-flex justify-content-center">
        <div>
            <img src="https://res.cloudinary.com/dkrcoyj7y/image/upload/v1681205172/order/order-confirmed_qmjlyd.webp"
                style="height: 400px;" alt="Order Confirmed">
        </div>
    </div>
    <div>
        <div class="m-5">
            <div class="row col-12 ">
                <div class="d-flex justify-content-center">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                            <tbody>
                                <tr>
                                    <td class="image product-thumbnail"><img src="assets/imgs/shop/product-1-2.jpg"
                                            alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="#">J.Crew Mercantile
                                                Women's Short-Sleeve</a></h5>
                                        <p class="font-xs">Maboriosam in a tonto nesciung eget<br> distingy magndapibus.
                                        </p>
                                    </td>
                                    <td class="price" data-title="Price"><span>$65.00 </span></td>
                                    <td class="text-center" data-title="Stock">
                                        <div >

                                            <span>1</span>
                                        </div>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <span>$65.00 </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                    </td>
                                    <td></td>
                                    <td class="text-center" data-title="Stock">
                                        <p>Total:</p>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <span>$150.00 </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div>
            <a href="#"><button class="btn me-2">View Orders</button></a>
        </div>
        <div>
            <a href="#"><button class="btn me-2">Shop More</button></a>
        </div>
    </div>
</div>