<div>
    <div class="d-flex justify-content-center">
        <div>
            <img src="https://res.cloudinary.com/dkrcoyj7y/image/upload/v1681205172/order/order-confirmed_qmjlyd.webp" style="height: 400px;" alt="Order Confirmed">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div>
            <a href="#"><button class="btn me-2">View Orders</button></a>
        </div>
        <div>
            <a href="#"><button class="btn me-2">Shop More</button></a>
        </div>
    </div>
</div>